<html>
  <head>
    <title>شجره نامه</title>
    <link href="css/css.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="tree">Hi from tree</div>

    <script src="js/FamilyTree.js"></script>
    <script src="js/chart.js"></script>
  </body>
</html>
