<%- include('partials/header') %>

<div id="tree" m="<%= JSON.stringify(allMembers) %>"></div>

<script src="/tree/js/FamilyTree.js"></script>
<script src="/tree/js/chart.js"></script>

<%- include('partials/footer') %>
