<html>
  <head>
    <title>شجره نامه</title>
    <link href="/tree/css/css.css" rel="stylesheet" />
    <link href="/tree/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="tree" m="<%= JSON.stringify(allMembers) %>"></div>

    <script src="/tree/js/FamilyTree.js"></script>
    <script src="/tree/js/chart.js"></script>
  </body>
</html>
